.cardIcon > i{
    font-size: 5rem;
}
.title {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 
 
.title span { 
    background:#fff; 
    padding:0 10px; 
}

.slogan{
    top:50%;
    color:#fff;
    background-color: #003;
    padding: 1rem;
}